Body {background-color: powderblue;}
h1       {border: 20px solid yellowgreen; padding: 50px; margin: 50px; color: blue;}
p        {border: 20px solid red; padding: 50px; margin: 50px; color: red;}

img      {height: 400px; width: 600px;}

